In [36]:
%pylab inline

import pandas as pd
import numpy as np

df = pd.read_csv("./euro-price-in-usd.csv",
                index_col=0, parse_dates=True, infer_datetime_format=True,
                dayfirst=True)

df.describe()

Using matplotlib backend: Qt4Agg
Populating the interactive namespace from numpy and matplotlib

       EuroPriceInUSD
count     2673.000000
mean         1.300222
std          0.107355
min          1.055200
25%          1.253700
50%          1.320167
75%          1.370167
max          1.512000text/html<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>EuroPriceInUSD</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>2673.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1.300222</td>
    </tr>
    <tr>
      <th>std</th>
      <td>0.107355</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.055200</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1.253700</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1.320167</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>1.370167</td>
    </tr>
    <tr>
      <th>max</th>
      <td>1.512000</td>
    </tr>
  </tbody>
</table>
</div>

In [30]:
idx = pd.date_range('01-01-2009', '05-03-2016')

In [31]:
pd.DatetimeIndex(df.index)

DatetimeIndex(['2009-01-02', '2009-01-05', '2009-01-06', '2009-01-07',
               '2009-01-08', '2009-01-09', '2009-01-12', '2009-01-13',
               '2009-01-14', '2009-01-15',
               ...
               '2016-04-27', '2016-04-28', '2016-04-29', '2016-05-02',
               '2016-05-03', '2016-05-04', '2016-05-05', '2016-05-06',
               '2016-05-09', '2016-05-10'],
              dtype='datetime64[ns]', length=1896, freq=None)

In [45]:
df_reindexed = df.reindex(idx)

In [46]:
df_reindexed

                   Open         High          Low        Close        Volume  \
2009-01-01          NaN          NaN          NaN          NaN           NaN
2009-01-02   902.989990   934.729980   899.349976   931.799988  4.048270e+09
2009-01-03          NaN          NaN          NaN          NaN           NaN
2009-01-04          NaN          NaN          NaN          NaN           NaN
2009-01-05   929.169983   936.630005   919.530029   927.450012  5.413910e+09
2009-01-06   931.169983   943.849976   927.280029   934.700012  5.392620e+09
2009-01-07   927.450012   927.450012   902.369995   906.650024  4.704940e+09
2009-01-08   905.729980   910.000000   896.809998   909.729980  4.991550e+09
2009-01-09   909.909973   911.929993   888.309998   890.349976  4.716500e+09
2009-01-10          NaN          NaN          NaN          NaN           NaN
2009-01-11          NaN          NaN          NaN          NaN           NaN
2009-01-12   890.400024   890.400024   864.320007   870.260010  4.725050e+09
2009-01-13   869.789978   877.020020   862.020020   871.789978  5.567460e+09
2009-01-14   867.280029   867.280029   836.929993   842.619995  5.407880e+09
2009-01-15   841.989990   851.590027   817.039978   843.739990  7.807350e+09
2009-01-16   844.450012   858.130005   830.659973   850.119995  6.786040e+09
2009-01-17          NaN          NaN          NaN          NaN           NaN
2009-01-18          NaN          NaN          NaN          NaN           NaN
2009-01-19          NaN          NaN          NaN          NaN           NaN
2009-01-20   849.640015   849.640015   804.469971   805.219971  6.375230e+09
2009-01-21   806.770020   841.719971   804.299988   840.239990  6.467830e+09
2009-01-22   839.739990   839.739990   811.289978   827.500000  5.843830e+09
2009-01-23   822.159973   838.609985   806.070007   831.950012  5.832160e+09
2009-01-24          NaN          NaN          NaN          NaN           NaN
2009-01-25          NaN          NaN          NaN          NaN           NaN
2009-01-26   832.500000   852.530029   827.690002   836.570007  6.039940e+09
2009-01-27   837.299988   850.450012   835.400024   845.710022  5.353260e+09
2009-01-28   845.729980   877.859985   845.729980   874.090027  6.199180e+09
2009-01-29   868.890015   868.890015   844.150024   845.140015  5.067060e+09
2009-01-30   845.690002   851.659973   821.669983   825.880005  5.350580e+09
...                 ...          ...          ...          ...           ...
2016-04-04  2073.189941  2074.020020  2062.570068  2066.129883  3.485710e+09
2016-04-05  2062.500000  2062.500000  2042.560059  2045.170044  4.154920e+09
2016-04-06  2045.560059  2067.330078  2043.089966  2066.659912  3.750800e+09
2016-04-07  2063.010010  2063.010010  2033.800049  2041.910034  3.801250e+09
2016-04-08  2045.540039  2060.629883  2041.689941  2047.599976  3.359530e+09
2016-04-09          NaN          NaN          NaN          NaN           NaN
2016-04-10          NaN          NaN          NaN          NaN           NaN
2016-04-11  2050.229980  2062.929932  2041.880005  2041.989990  3.567840e+09
2016-04-12  2043.719971  2065.050049  2039.739990  2061.719971  4.239740e+09
2016-04-13  2065.919922  2083.179932  2065.919922  2082.419922  4.191830e+09
2016-04-14  2082.889893  2087.840088  2078.129883  2082.780029  3.765870e+09
2016-04-15  2083.100098  2083.219971  2076.310059  2080.729980  3.701450e+09
2016-04-16          NaN          NaN          NaN          NaN           NaN
2016-04-17          NaN          NaN          NaN          NaN           NaN
2016-04-18  2078.830078  2094.659912  2073.649902  2094.340088  3.316880e+09
2016-04-19  2096.050049  2104.050049  2091.679932  2100.800049  3.896830e+09
2016-04-20  2101.520020  2111.050049  2096.320068  2102.399902  4.184880e+09
2016-04-21  2102.090088  2103.780029  2088.520020  2091.479980  4.175290e+09
2016-04-22  2091.489990  2094.320068  2081.199951  2091.580078  3.790580e+09
2016-04-23          NaN          NaN          NaN          NaN           NaN
2016-04-24          NaN          NaN          NaN          NaN           NaN
2016-04-25  2089.370117  2089.370117  2077.520020  2087.790039  3.319740e+09
2016-04-26  2089.840088  2096.870117  2085.800049  2091.699951  3.557190e+09
2016-04-27  2092.330078  2099.889893  2082.310059  2095.149902  4.100110e+09
2016-04-28  2090.929932  2099.300049  2071.620117  2075.810059  4.309840e+09
2016-04-29          NaN          NaN          NaN          NaN           NaN
2016-04-30          NaN          NaN          NaN          NaN           NaN
2016-05-01          NaN          NaN          NaN          NaN           NaN
2016-05-02          NaN          NaN          NaN          NaN           NaN
2016-05-03          NaN          NaN          NaN          NaN           NaN

              Adj Close
2009-01-01          NaN
2009-01-02   931.799988
2009-01-03          NaN
2009-01-04          NaN
2009-01-05   927.450012
2009-01-06   934.700012
2009-01-07   906.650024
2009-01-08   909.729980
2009-01-09   890.349976
2009-01-10          NaN
2009-01-11          NaN
2009-01-12   870.260010
2009-01-13   871.789978
2009-01-14   842.619995
2009-01-15   843.739990
2009-01-16   850.119995
2009-01-17          NaN
2009-01-18          NaN
2009-01-19          NaN
2009-01-20   805.219971
2009-01-21   840.239990
2009-01-22   827.500000
2009-01-23   831.950012
2009-01-24          NaN
2009-01-25          NaN
2009-01-26   836.570007
2009-01-27   845.710022
2009-01-28   874.090027
2009-01-29   845.140015
2009-01-30   825.880005
...                 ...
2016-04-04  2066.129883
2016-04-05  2045.170044
2016-04-06  2066.659912
2016-04-07  2041.910034
2016-04-08  2047.599976
2016-04-09          NaN
2016-04-10          NaN
2016-04-11  2041.989990
2016-04-12  2061.719971
2016-04-13  2082.419922
2016-04-14  2082.780029
2016-04-15  2080.729980
2016-04-16          NaN
2016-04-17          NaN
2016-04-18  2094.340088
2016-04-19  2100.800049
2016-04-20  2102.399902
2016-04-21  2091.479980
2016-04-22  2091.580078
2016-04-23          NaN
2016-04-24          NaN
2016-04-25  2087.790039
2016-04-26  2091.699951
2016-04-27  2095.149902
2016-04-28  2075.810059
2016-04-29          NaN
2016-04-30          NaN
2016-05-01          NaN
2016-05-02          NaN
2016-05-03          NaN

[2680 rows x 6 columns]

In [47]:
df_reindexed.describe()

              Open         High          Low        Close        Volume  \
count  1843.000000  1843.000000  1843.000000  1843.000000  1.843000e+03
mean   1503.136960  1511.748334  1494.049675  1503.712083  4.050046e+09
std     395.499918   395.566764   395.063690   395.348338  1.136249e+09
min     679.280029   695.270020   666.789978   676.530029  5.362000e+08
25%            NaN          NaN          NaN          NaN           NaN
50%            NaN          NaN          NaN          NaN           NaN
75%            NaN          NaN          NaN          NaN           NaN
max    2130.360107  2134.719971  2126.060059  2130.820068  1.061781e+10

         Adj Close
count  1843.000000
mean   1503.712083
std     395.348338
min     676.530029
25%            NaN
50%            NaN
75%            NaN
max    2130.820068

In [48]:
df_reindexed.to_csv('euro-price-in-usd-reindexed.csv')

In [49]:
ax = df.plot(figsize=(15,8))
ax.set(xlabel = "Date", ylabel = "Euro Price In USD"
       ,xlim=(pd.datetime(2009,1,3),pd.datetime(2016,5,3)))

[<matplotlib.text.Text at 0x7f775c79e1d0>,
 (733410.0, 736087.0),
 <matplotlib.text.Text at 0x7f775c7c3c10>]

In [50]:
df_reindexed.interpolate(method='linear').to_csv('euro-price-in-usd.csv')

In [51]:
df = pd.read_csv("avg-block-size.csv",
                index_col=0, parse_dates=True, infer_datetime_format=True,
                dayfirst=True)

df.describe()

       AvgBlockSize
count   2673.000000
mean       0.163963
std        0.208009
min        0.000000
25%        0.000893
50%        0.092265
75%        0.241909
max        0.918519

In [52]:
df

                     AvgBlockSize
Date
2009-01-03 18:15:05      0.000285
2009-01-04 18:15:05      0.000000
2009-01-05 18:15:05      0.000000
2009-01-06 18:15:05      0.000000
2009-01-07 18:15:05      0.000000
2009-01-08 18:15:05      0.000000
2009-01-09 18:15:05      0.000215
2009-01-10 18:15:05      0.000215
2009-01-11 18:15:05      0.000215
2009-01-12 18:15:05      0.000232
2009-01-13 18:15:05      0.000218
2009-01-14 18:15:05      0.000216
2009-01-15 18:15:05      0.000242
2009-01-16 18:15:05      0.000218
2009-01-17 18:15:05      0.000218
2009-01-18 18:15:05      0.000216
2009-01-19 18:15:05      0.000220
2009-01-20 18:15:05      0.000233
2009-01-21 18:15:05      0.000228
2009-01-22 18:15:05      0.000231
2009-01-23 18:15:05      0.000222
2009-01-24 18:15:05      0.000226
2009-01-25 18:15:05      0.000217
2009-01-26 18:15:05      0.000216
2009-01-27 18:15:05      0.000243
2009-01-28 18:15:05      0.000216
2009-01-29 18:15:05      0.000215
2009-01-30 18:15:05      0.000228
2009-01-31 18:15:05      0.000216
2009-02-01 18:15:05      0.000238
...                           ...
2016-03-30 18:15:05      0.807928
2016-03-31 18:15:05      0.837659
2016-04-01 18:15:05      0.731608
2016-04-02 18:15:05      0.825544
2016-04-03 18:15:05      0.722675
2016-04-04 18:15:05      0.665922
2016-04-05 18:15:05      0.779197
2016-04-06 18:15:05      0.715765
2016-04-07 18:15:05      0.726767
2016-04-08 18:15:05      0.735471
2016-04-09 18:15:05      0.635034
2016-04-10 18:15:05      0.566713
2016-04-11 18:15:05      0.749973
2016-04-12 18:15:05      0.794779
2016-04-13 18:15:05      0.727887
2016-04-14 18:15:05      0.745874
2016-04-15 18:15:05      0.750909
2016-04-16 18:15:05      0.708138
2016-04-17 18:15:05      0.652977
2016-04-18 18:15:05      0.783668
2016-04-19 18:15:05      0.758763
2016-04-20 18:15:05      0.798263
2016-04-21 18:15:05      0.668973
2016-04-22 18:15:05      0.796928
2016-04-23 18:15:05      0.657125
2016-04-24 18:15:05      0.699949
2016-04-25 18:15:05      0.842110
2016-04-26 18:15:05      0.800002
2016-04-27 18:15:05      0.853189
2016-04-28 18:15:05      0.904461

[2673 rows x 1 columns]

In [43]:
df.describe()

       AvgBlockSize
count   2673.000000
mean       0.163963
std        0.208009
min        0.000000
25%        0.000893
50%        0.092265
75%        0.241909
max        0.918519

In [44]:
df = pd.read_csv("standard-and-poors-500.csv",
                index_col=0, parse_dates=True, infer_datetime_format=True,
                dayfirst=True)

df.describe()

              Open         High          Low        Close        Volume  \
count  1843.000000  1843.000000  1843.000000  1843.000000  1.843000e+03
mean   1503.136960  1511.748334  1494.049675  1503.712083  4.050046e+09
std     395.499918   395.566764   395.063690   395.348338  1.136249e+09
min     679.280029   695.270020   666.789978   676.530029  5.362000e+08
25%    1177.864990  1187.255005  1167.414978  1178.099976  3.334110e+09
50%    1405.500000  1410.890015  1398.109985  1405.540039  3.830610e+09
75%    1902.265015  1917.500000  1884.590027  1903.330017  4.524820e+09
max    2130.360107  2134.719971  2126.060059  2130.820068  1.061781e+10

         Adj Close
count  1843.000000
mean   1503.712083
std     395.348338
min     676.530029
25%    1178.099976
50%    1405.540039
75%    1903.330017
max    2130.820068

In [0]:
idx = pd.date_range('01-01-2009', '05-03-2016')
pd.DatetimeIndex(df.index)
df_reindexed = df.reindex(idx)