In [1]:
import sys
print(sys.version)

3.5.2 |Anaconda 4.1.1 (64-bit)| (default, Jul  2 2016, 17:53:06)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]

In [20]:
import pandas as pd
import numpy as np

In [121]:
f = 'euro-price-in-usd.csv'
df = pd.read_csv(f,
                 parse_dates = True,
                 dayfirst=True,
                 index_col = 'Date')

In [122]:
len(df)

4505

In [130]:
df.first('1W')

Empty DataFrame
Columns: [EuroPriceInUSD]
Index: []

In [106]:
# http://stackoverflow.com/questions/34326546/reindex-to-add-missing-dates-to-pandas-dataframe
idx = pd.date_range(df.first('1D').index[0], df.last('1D').index[0])
ordered_df = df.reindex(idx, fill_value = 'NaN')
ordered_df

                     AvgBlockSize
2009-01-03 18:15:05      0.000285
2009-01-04 18:15:05      0.000000
2009-01-05 18:15:05      0.000000
2009-01-06 18:15:05      0.000000
2009-01-07 18:15:05      0.000000
2009-01-08 18:15:05      0.000000
2009-01-09 18:15:05      0.000215
2009-01-10 18:15:05      0.000215
2009-01-11 18:15:05      0.000215
2009-01-12 18:15:05      0.000232
2009-01-13 18:15:05      0.000218
2009-01-14 18:15:05      0.000216
2009-01-15 18:15:05      0.000242
2009-01-16 18:15:05      0.000218
2009-01-17 18:15:05      0.000218
2009-01-18 18:15:05      0.000216
2009-01-19 18:15:05      0.000220
2009-01-20 18:15:05      0.000233
2009-01-21 18:15:05      0.000228
2009-01-22 18:15:05      0.000231
2009-01-23 18:15:05      0.000222
2009-01-24 18:15:05      0.000226
2009-01-25 18:15:05      0.000217
2009-01-26 18:15:05      0.000216
2009-01-27 18:15:05      0.000243
2009-01-28 18:15:05      0.000216
2009-01-29 18:15:05      0.000215
2009-01-30 18:15:05      0.000228
2009-01-31 18:15:05      0.000216
2009-02-01 18:15:05      0.000238
...                           ...
2016-04-03 18:15:05      0.722675
2016-04-04 18:15:05      0.665922
2016-04-05 18:15:05      0.779197
2016-04-06 18:15:05      0.715765
2016-04-07 18:15:05      0.726767
2016-04-08 18:15:05      0.735471
2016-04-09 18:15:05      0.635034
2016-04-10 18:15:05      0.566713
2016-04-11 18:15:05      0.749973
2016-04-12 18:15:05      0.794779
2016-04-13 18:15:05      0.727887
2016-04-14 18:15:05      0.745874
2016-04-15 18:15:05      0.750909
2016-04-16 18:15:05      0.708138
2016-04-17 18:15:05      0.652977
2016-04-18 18:15:05      0.783668
2016-04-19 18:15:05      0.758763
2016-04-20 18:15:05      0.798263
2016-04-21 18:15:05      0.668973
2016-04-22 18:15:05      0.796928
2016-04-23 18:15:05      0.657125
2016-04-24 18:15:05      0.699949
2016-04-25 18:15:05      0.842110
2016-04-26 18:15:05      0.800002
2016-04-27 18:15:05      0.853189
2016-04-28 18:15:05      0.904461
2016-04-29 18:15:05      0.843205
2016-04-30 18:15:05      0.780472
2016-05-01 18:15:05      0.640654
2016-05-02 18:15:05      0.737996

[2677 rows x 1 columns]

In [76]:
ordered_df = ordered_df.astype(np.float64)

In [77]:
ordered_df.dtypes

AvgBlockSize    float64
dtype: object

In [78]:
interpolated_df = ordered_df.interpolate()
len(interpolated_df)
#interpolated_df.to_csv(f)

3067

In [98]:
df.first('1D').index[0]

Timestamp('2009-01-03 18:15:05')